events {}

http {

  include       /etc/nginx/mime.types;

  upstream petclinic {
    {% for server_ip in groups['servers'] %}
    server {{ server_ip }}:{{ pet_clinic_port }};
    {% endfor %}
  }

  server {
    listen {{ nginx_additional_port }};
        
    location /petclinic/ {  
      proxy_pass http://petclinic/;
    }
  }
}
